<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysProductDefaultMaterialMapper">
    
    <resultMap type="SysProductDefaultMaterial" id="DefaultMaterialResult">
        <id property="id" column="id"/>
        <result property="productId" column="product_id"/>
        <result property="materialId" column="material_id"/>
        <result property="materialName" column="material_name"/>
        <result property="unit" column="unit"/>
        <result property="quantity" column="quantity"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectDefaultMaterialsByProductId" parameterType="Long" resultMap="DefaultMaterialResult">
        select pdm.id, pdm.product_id, pdm.material_id, m.material_name, m.unit, pdm.quantity, pdm.create_time, pdm.update_time
        from sys_product_default_material pdm
        left join sys_material m on pdm.material_id = m.material_id
        where pdm.product_id = #{productId}
    </select>

    <insert id="insertDefaultMaterial" parameterType="SysProductDefaultMaterial">
        insert into sys_product_default_material (product_id, material_id, quantity, create_time, update_time)
        values (#{productId}, #{materialId}, #{quantity}, sysdate(), sysdate())
    </insert>

    <update id="updateDefaultMaterial" parameterType="SysProductDefaultMaterial">
        update sys_product_default_material
        <set>
            <if test="quantity != null">quantity = #{quantity},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <delete id="deleteDefaultMaterialById" parameterType="Long">
        delete from sys_product_default_material where id = #{id}
    </delete>

    <delete id="deleteDefaultMaterialsByProductId" parameterType="Long">
        delete from sys_product_default_material where product_id = #{productId}
    </delete>
</mapper>
